<component name="ArtifactManager">
  <artifact type="war" name="Spring_Data_JPA:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>Spring_Data_JPA</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="Spring_Data_JPA-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="Spring_Data_JPA:war exploded" />
    </root>
  </artifact>
</component>